In [1]:
from kpandas import kpandas
import pandas as pd
import numpy as np

In [2]:
dict01=pd.DataFrame({'Student':['A','B','C'],"Marks":[12,45,16]})

In [3]:
dict01

  Student  Marks
0       A     12
1       B     45
2       C     16

In [4]:
kp=kpandas()

In [5]:
kp.sort_values(column_list=["Marks"],dataframe=dict01,action="descending")

  Student  Marks
0       A     12
1       B     45
2       C     16